.hero-section{
    min-height: 100svh;
}
.hero-section .title div:first-child{
    font-size: 3rem;
    font-weight: 800;
}

.hero-section .title div:nth-child(2){
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 600;
}